@font-face {
  font-family: "Ownglyph_kimkonghae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_kimkonghae.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  background: url("./assets/images/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Ownglyph_kimkonghae", sans-serif;
  cursor: none;
}
.introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.introduce > img {
  width: min(13vw, 130px); /* 뷰포트의 13%, 최대 130px */
  height: auto;
  border-radius: 50%;
  margin-top: 5vw;
}

.introduce > span {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.content {
  position: relative;
  display: inline-block;
  width: 70%;
}

.phone-img {
  display: block;
  width: 100%;
  height: auto;
}

.app-wrapper {
  position: absolute;
  top: 43%; /* 요소의 좌측 상단 모서리가 중앙에 배치 */
  left: 50%; /* 요소의 좌측 상단 모서리가 중앙에 배치 */
  transform: translate(
    -50%,
    -50%
  ); /* 요소를 자신의 크기의 절반만큼 왼쪽과 위로 이동 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(6.5vw, 100px);
  height: min(6.5vw, 100px);
  color: white;
  border-radius: 30%;
  font-size: 1.5vw;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.app:hover,
.app:active {
  filter: brightness(0.95); /* 색상 명도 낮추기 */
  transform: scale(0.97); /* 눌린 효과를 위해 살짝 축소 */
}

.app:nth-child(1) {
  background-color: #c6dbda;
}

.app:nth-child(2) {
  background-color: #f3b0c3;
}
.app:nth-child(3) {
  background-color: #fed7c3;
}
.app:nth-child(4) {
  background-color: #f6eac2;
}
.app:nth-child(5) {
  background-color: #ecd5e3;
}
.app:nth-child(6) {
  background-color: #ffaea5;
}

.back {
  position: absolute;
  top: 43%;
  right: 26%;
  transform: translate(-50%, -50%);
  width: min(2.5vw, 30px);
  height: min(2.5vw, 30px);
  border-radius: 50%;
  border: 1px solid rgb(100, 90, 90);
  outline: 2px solid rgb(100, 90, 90);
  transition: transform 0.1s ease, filter 0.1s ease; /* 부드러운 전환 효과 */
}

.back:hover,
.back:active {
  filter: brightness(0.55);
  transform: translate(-50%, -50%) scale(0.95);
}

.message-box {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 24vw;
  font-size: 1.5vw;
}

.message-box div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-box img {
  width: min(2.5vw, 30px);
  height: min(2.5vw, 30px);
}

a {
  color: #626262;

  text-decoration: none;
}

a:hover {
  color: black;
}

.image-box img {
  position: absolute;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: min(20vw, 1000px);
  height: min(20vw, 1000px);
}

.image-box {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* 1초 동안 서서히 나타나는 효과 */
}

.image-box.visible {
  opacity: 1; /* visible 클래스가 추가되면 이미지가 서서히 나타남 */
}
.image-box img:nth-child(1) {
  top: -10vw;
  right: 2vw;
}

.image-box img:nth-child(2) {
  bottom: -5vw;
  left: 2vw;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vw;
}

.hand-pointer {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("./assets/icons/hand-pointer.png") no-repeat center / contain; /* 이미지 적용 */
  pointer-events: none; /* 마우스 이벤트 방해하지 않도록 설정 */
  transform: translate(-50%, -50%); /* 마우스 위치 기준 중앙 정렬 */
  transition: transform 0.1s linear; /* 부드러운 이동 효과 */
}

@media (max-width: 700px) {
  .content {
    width: 100%;
  }

  .app-wrapper {
    gap: 10px;
  }

  .app {
    width: min(8.5vw, 60px);
    height: min(8.5vw, 60px);
    font-size: 2.5vw;
  }

  .message-box {
    font-size: 2.5vw;
    max-width: 34vw;
  }
}
